body{
    background-color: aqua;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.row{
    width: 80%;
    display: grid;
    padding: 20px;
    margin: 0 auto;
}

.box{
    width:600px;
    margin:0 auto;

}

.numberofmoves{
     text-align: center;
}

h1{
    text-align: center;
}

 h2{
    text-align: center;

 }
.animals{
    background-color: bisque;
    width: 140px;
    height: 140px;
    margin: 5px;
    float: left;
    text-align: center;
    cursor: pointer;

}

.animals img{
    padding: 5px;
}

#restartScreen
{
	text-align: center;
	display: none;
}
#Restart
{
	margin: 10px 0;
	padding: 5px 10px;
	background: #000;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}


/*-----media queries------*/

@media only screen and (max-width: 450px) {
.box{
    width: 100%; 
}
.row{
    width: 95%;
}
.animals{
    width: 90px;
    height: 90px;
}
.animals img{
    padding: 2px;
	width: 86px;
	height: 86px;
}
}

@media only screen and (max-width: 420px) {
    .box{
        width: 100%; 
    }
    .row{
        width: 95%;
        padding: 20px 5px;
    }
    .animals{
        width: 86px;
        height: 86px;
    }
    .animals img{
        
        width: 86px;
        height: 86px;
    }
    }

@media only screen and (max-width: 400px) {
        
    .animals{
        width: 82px;
        height: 82px;
    }
    .animals img{
        
        width: 77px;
        height: 77px;
    }
        
    }

 @media only screen and (max-width: 390px) {
        
    .animals{
        width: 86px;
        height: 86px;
    }
    
    }

 @media only screen and (max-width: 380px) {
    .box{
        width: 100%; 
    }
    .row{
        width: 95%;
        padding: 20px 2px;
    }
    .animals{
        width:79px;
        height: 79px;
    }
    .animals img{
        
        width: 75px;
        height: 75px;
    }
    }

@media only screen and (max-width: 420px) {
    
    .animals{
        width: 75px;
        height: 75px;
    }
    .animals img{
        
        width: 75px;
        height: 75px;
    }
    }

    